@page
@model EcoEnergyRazorBBDD.Pages.SimulationsModel
@{
	ViewData["Title"] = "Simulations list";
}
<div class="text-center">
	<h2>Simulation List</h2>
	<table class="table">
		<thead>
			<tr>
				<th>Type</th>
				<th>Date</th>
				<th>Ratio</th>
				<th>Energy</th>
				<th>Cost</th>
				<th>Total Cost</th>
				<th>Price</th>
				<th>Total Price</th>
			</tr>
		</thead>
		<tbody>
			@if (!Model.FileExists || !Model.FileHasRecords)
			{
				<tr>No existeix ninguna simulació</tr>
			}
			@foreach (var simulation in Model.Simulations)
			{
			<tr>
				<td>@simulation.GetEnergyType()</td>
				<td>@simulation.GetDate()</td>
				<td>@simulation.Ratio</td>
				<td>@simulation.Energy</td>
				<td>@simulation.Cost</td>
				<td>@simulation.TotalCost</td>
				<td>@simulation.Price</td>
				<td>@simulation.TotalPrice</td>
			</tr>
		}
		</tbody>
</table>
<a class="btn btn-primary" asp-page="/SimCreator">Create new simulation</a>
</div>
