@page
@model EcoEnergyRazorBBDD.Pages.WaterConsumptionModel
@{
	ViewData["title"] = "Water consumption";
}
<div>
	<h2>Water Consumption detailed info</h2>
	<table class="table">
		<thead>
			<tr>
				<th>Year</th>
				<th>Region Code</th>
				<th>Region Name</th>
				<th>Population</th>
				<th>Domestic Grid</th>
				<th>Economic activities & own sources</th>
				<th>Total</th>
				<th>Domestic consumption per capita</th>
			</tr>
		</thead>
		<tbody>
			@if (Model.FileHasRecords)
			{
				@foreach (var simulation in Model.WaterConsumptionList)
				{
					<tr>
						<td>@simulation.Year</td>
						<td>@simulation.RegionID</td>
						<td>@simulation.RegionName</td>
						<td>@simulation.Population</td>
						<td>@simulation.DomesticNET</td>
						<td>@simulation.EconomicActivities</td>
						<td>@simulation.Total</td>
						<td>@simulation.DomesticConsumption</td>
						<td><form method="post" aps-handler="DeleteRecord"><button type="submit" asp-page-handler="DeleteRecord" asp-route-id="@simulation.Id">X</button></form></td>
					</tr>
				}
			} else {
				<tr><td>There aren't any cosumptions</td></tr>
			}
		</tbody>
	</table>
</div>
<a asp-page="/AddWaterConsumption" class="btn btn-primary">Add Water Consumption</a>